
/*
p = creates a TAG
.class = creates a class
#ID = creates an ID
*/

/*
#sgs_spinner {height:30px;}
#juv_spinner {height:30px;}
#age_spinner {height:30px;}
#datasets_spinner {height:30px;}
#query_spinner {height:30px;}
#reports_spinner {height:30px;}
*/


/* .box-info {
  background-color:green;    /* changes the color behind titles (.box-title)
} 
.box-body{
  background-color: gray;
} */

.navlinks {
  color: white;
 /* font-size: 1.1vw; */
  font-family: 'Arial Narrow';
}

.skin-blue .main-sidebar {
  position: fixed;
  height: 100vh;
  background-color: rgb(0,0,0);
} 

/* sidebar toggle button */
.sidebar-toggle > li.hover a{
  background-color: rgb(0,0,100);
}

/* active selected tab in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
background-color: rgb(0,0,100);
color: white;
}

/* other links in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu a{
background-color: rgb(0,0,0);
}
/* sidebar bar to left of selected tab */
.skin-blue .sidebar-menu > li.active > a {
  border-left-color: rgb(0,0,100);
}


/* header */
.skin-blue .main-header {
  position:fixed;
  width:100%;
  background-color: rgb(0,0,0);
}

/* logo portion of header */
.skin-blue .main-header .logo {
background-color: rgb(0,0,0);
}
.skin-blue .main-header .logo:hover {
background-color: rgb(0,0,0);
}
                              
                              
/* navbar (rest of the header) */
.skin-blue .main-header .navbar {
background-color: rgb(0,0,0);
}

/* body */
.content {
  padding-top:60px;
  height:100vh;
  overflow:auto;
}
.content-wrapper, .right-side {
background-color: rgb(100,100,100);
overflow:auto; /* extend when page grows */
}

/*
body {
  min-height: 700px;
  min-width: 1200px;
} */

#kustitle {
  font-family: Impact;
  font-size: 45px;
  font-weight: normal;
  color: white;  /* #36454f */
}

h1{
  font-family: "Arial White";
  font-size: 45px;
  line-height: 32px;
  font-weight: bold;
  color: white;
  margin-top: 0;
  padding-top: 0;
}

h2 {
  font-family: "Arial Black";
  font-size: 30px;
  line-height: 32px;
  font-weight: normal;
  color: #36454f;
  margin-top: 0;
  padding-top: 0;
}

h3 {
  font-family: "Arial Black";
  font-size: 14px;
  line-height: 16px;
  font-weight: normal; 
  color: #36454f;
  margin-top: 0;
  padding-top: 0;
}

p {font-family: "Arial Narrow";
  /*font-size: 18px; */
  font-size: 2vh;
  text-align: justify;
  /*font-style: italic; */
  /*font-weight: bold; */
  /*color: #6e7f80;*/
  color: black;
  width: 100%;
  /*border-bottom: 1px solid rgb(0, 0, 0); */
}

.shinybusy-busy {
  position: fixed !important;
  z-index:9999 !important;
  top:200px !important;
  right:38vw !important;
  height:300px !important;
  width:300px !important;
}

.shinybusy {
  position: fixed !important;
  z-index:9999 !important;
  top:200px !important;
  right:38vw !important;
  height:400px !important;
  width:400px !important;
}

img {max-width: 100%; mox-height: 100%; width: 100%; height: auto;}
/* images will expand to width of container */
