/*
p = creates a TAG
.class = creates a class
#ID = creates an ID
*/

/* colour palatte is blue-grey
Hex	RBG
#6e7f80	(110,127,128) - lighter grey-2
#536872	(83,104,114) - darker background color
#708090	(112,128,144) - lightest-1
#536878	(83,104,120)-3
#36454f	(54,69,79) - darkest */

#q_inputs {  /* this exists to create an ID for query inputs to be removed when beginning a new query. */
  width: 100%;
}

.navlinks {
  color: white;
  /* font-size: 1.1vw; */
  font-family: 'Arial Narrow';
}

.sidebar {
  position: fixed;
  height: 110vh;
}

.main-header {
  position: fixed;
  width:100%;
}

.content {
  padding-top:60px;
}

#kustitle {
  font-family: Impact;
  font-size: 45px;
  font-weight: normal;
  color: #36454f;
}

#links a {
  font-size:1vh;
}

h2 {
  font-family: "Arial Black";
  font-size: 30px;
  line-height: 32px;
  font-weight: normal;
  color: #36454f;
  margin-top: 0;
  padding-top: 0;
}

h3 {
  font-family: "Arial Black";
  font-size: 14px;
  line-height: 16px;
  font-weight: normal; 
  color: #36454f;
  margin-top: 0;
  padding-top: 0;
}

p {font-family: "Arial Narrow";
  /*font-size: 18px; */
  font-size: 2vh;
  text-align: justify;
  /*font-style: italic; */
  /*font-weight: bold; */
  color: #6e7f80;
  /*color: white;*/
  width: 100%;
  /*border-bottom: 1px solid rgb(0, 0, 0); */
}

.kusbg {
  width: 1728px; 
  height: 100vh;
  display: block; 
  background-size: contain; /*cover;  /* this should give 100% screen size */
  background-position: bottom center;

/*  background-position: top center; */
  background-repeat:no-repeat;
  background-attachment:fixed;
  overflow: hidden; /* this seems to be important for not having a scrollbar when image is too large */
  position: fixed; /* fixed = not affected by scrolling */
  bottom:0;
  right:0;
}
@media screen and (max-width:900px) {
  .kusbg{ background-size: 900px auto;} /*900px is the image original width */
}

