/* colour palatte is blue-grey
Hex	RBG
#6e7f80	(110,127,128)
#536872	(83,104,114)
#708090	(112,128,144) - lightest
#536878	(83,104,120)
#36454f	(54,69,79) - darkest
*/


body {
  padding-top: 70px;
  /*background-color: #708090*/
}

.navbar-fixed-top {
  position: fixed;
  top: 15px;
  margin-bottom: 20px;
  background-color: #36454f !important;
}

.navbar-brand{color: grey;}

.tab-panel{background-color: #36454f;
	 color: grey;
}

.navbar-nav li a:hover, .navbar-nav > .active > a {
color: #fff !important;

background-color:#536872 !important;
background-image: none !important;
}


.tabbable > .nav > li > a {background-color: #36454f;  color:grey}
.tabbable > .nav > li[class=active]    > a {background-color: #536872	; color:#fff}
/*    .tabbable > .nav > li > a[data-value='t1'] {background-color: red;   color:white}
    .tabbable > .nav > li > a[data-value='t2'] {background-color: blue;  color:white}
    .tabbable > .nav > li > a[data-value='t3'] {background-color: green; color:white}
*/


#header-id{
  font-family: serif;
  font-size: 40px;
  font-weight: bold;
  position: fixed;
  left: 10px;
  top: 25px;
  color = #36454f;
}

#logo-id{
  position: fixed;
  right: 10px;
  top: 5px;
}

#footer-id{
  font-style: italic;
  font-weight: 500;
  line-height: 1.1;
  color: #b0b0b0;
  margin-top: 20px;
  margin-bottom: 20px;
}

#home-photo{
    display: block;
    max-width: 100%; 
    max-height: 100%;
    padding: 0;
    /*margin:auto;*/
}


.mybutton{
  background-color = #536878;
  color = black;}

.modal-body {padding: 10px, box-align: center;}
.modal-content  {-webkit-border-radius: 6px !important;-moz-border-radius: 6px !important;border-radius: 6px !important;}
.modal-dialog { width: 400px; display: inline-block; text-align: left; vertical-align: top;}
/*.modal-header {font-size 12; color:black; background-color: #708090; border-top-left-radius: 6px; border-top-right-radius: 6px}*/
.modal-footer {text-align: left;}
.modal { text-align: center; vertical-align: center; padding-top: 200px;}   /*; padding-right:10px; */

h1{font-family: serif;
  font-size: 80px;
  font-style: italic;
  font-weight: bold;
  color: #36454f;}

h2{color: #536878;}

h3{color: #708090;}

h4{color: #536872;}

h5{color: #6e7f80;}

h6{color: #b0b0b0;}

a{font-weight: 500;
  color: #fff
}