/* colour palatte is blue-grey
Hex	RBG
#6e7f80	(110,127,128)
#536872	(83,104,114)
#708090	(112,128,144) - lightest
#536878	(83,104,120)
#36454f	(54,69,79) - darkest
*/


body {
  padding-top: 70px;
  /*background-color: #708090*/
}

.navbar-fixed-top {
  position: static;
  margin-bottom: 20px;
  background-color: #36454f !important;
}

.navbar-brand{color: grey;}

.tab-panel{background-color: #36454f;
	 color: grey;
}

.navbar-nav li a:hover, .navbar-nav > .active > a {
color: #fff !important;

background-color:#536872 !important;
background-image: none !important;
}

#header-id{
  font-family: serif;
  font-size: 40px;
  font-weight: bold;
  position: fixed;
  left: 10px;
  top: 25px;
  color = #36454f;
}

#logo-id{
  position: fixed;
  right: 10px;
  top: 5px;
}

#footer-id{
  font-style: italic;
  font-weight: 500;
  line-height: 1.1;
  color: #b0b0b0;
}

#home-photo{
    display: block;
    max-width: 100%; 
    max-height: 100%;
    margin:auto;
}

h1{font-family: serif;
  font-size: 100px;
  font-style: italic;
  font-weight: bold;
  color: #36454f;}

h2{color: #536878;}

h3{color: #708090;}

h4{color: #536872;}

h5{color: #6e7f80;}

h6{color: #b0b0b0;}

a{font-weight: 500;
  color: #fff
}